.container {
  width: 430px;
  height: 800px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fce9e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
.result {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f9e7e7;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 30px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-size: 20px;
}
.buttonNumbers {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9e7e7;
}
.buttonOperators {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4cfcf;
}
.buttonContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}
